<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ru.appstorrent.indexer</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0A7F94DA-8824-4BEA-892C-25D9882A4143</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5888FA76-6698-4D0F-B196-61A1BF731A0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91DACA3-330E-4B6A-9F03-6ED19EDA47E3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A5ADD90-C439-4F25-82CF-8279B39A56FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A7F94DA-8824-4BEA-892C-25D9882A4143</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9242BE02-1011-4D16-A5EA-8E69A657265A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A7F94DA-8824-4BEA-892C-25D9882A4143</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B91DACA3-330E-4B6A-9F03-6ED19EDA47E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDBB7250-E6E8-4C00-ACAD-809D33DF40F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE5CC2D4-C274-476B-B62D-2453496EE60C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A7F94DA-8824-4BEA-892C-25D9882A4143</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jag_k</string>
	<key>description</key>
	<string>Ищите и качайте приложения и игры для MacOS</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppStorrent Alfred Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>appstorrent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CE5CC2D4-C274-476B-B62D-2453496EE60C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5888FA76-6698-4D0F-B196-61A1BF731A0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>at</string>
				<key>subtext</key>
				<string>Ищите и качайте приложения и игры для MacOS</string>
				<key>text</key>
				<string>AppStorrent</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A5ADD90-C439-4F25-82CF-8279B39A56FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Ссылка скопирована!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DDBB7250-E6E8-4C00-ACAD-809D33DF40F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B91DACA3-330E-4B6A-9F03-6ED19EDA47E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>appstorrent</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Секунду...</string>
				<key>script</key>
				<string>python main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Ищите и качайте приложения и игры для MacOS</string>
				<key>title</key>
				<string>AppStorrent</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A7F94DA-8824-4BEA-892C-25D9882A4143</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ap</string>
				<key>subtext</key>
				<string>Ищите и качайте приложения и игры для MacOS</string>
				<key>text</key>
				<string>AppStorrent</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9242BE02-1011-4D16-A5EA-8E69A657265A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>AppStorrent Alfred Workflow
Ищите и качайте приложения и игры для MacOS

Ссылки
- GitHub: [@jag-k/appstorrent-workflow](https://github.com/jag-k/appstorrent-workflow)
- Email: [jag-k58@ya.ru](mailto:jag-k58@ya.ru)
- VK: [@jag_konon](https://vk.com/jag_konon)</string>
	<key>uidata</key>
	<dict>
		<key>0A7F94DA-8824-4BEA-892C-25D9882A4143</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>4A5ADD90-C439-4F25-82CF-8279B39A56FC</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>5888FA76-6698-4D0F-B196-61A1BF731A0F</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>9242BE02-1011-4D16-A5EA-8E69A657265A</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>B91DACA3-330E-4B6A-9F03-6ED19EDA47E3</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>CE5CC2D4-C274-476B-B62D-2453496EE60C</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>DDBB7250-E6E8-4C00-ACAD-809D33DF40F8</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DEBUG</key>
		<string>True</string>
		<key>SUPER_DEBUG</key>
		<string>False</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>SUPER_DEBUG</string>
	</array>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string>appstorrent.ru</string>
</dict>
</plist>
